<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesTemplate.css" />
    <title>Template</title>
  </head>
  <body>
    <header>
      <img
        id="banner"
        src="images/new_banner.png"
        alt="Banner com estátua de Platão à esquerda, caixa de texto no meio e busto de Aristóteles à direita"
      />
    </header>
    <main>
      <h1>A <span class="title_effect"> Verdade</span> vos libertará</h1>
      <div class="text_container">
        <p>Aprender é viver, é amar a Deus Nosso Senhor</p>
        <p>
          Podemos superar nossas limitações humanas e seremos capazes de
          transcender os ambientes e situações desfavoráveis a que fomos
          submetidos.
        </p>
      </div>
    </main>
    <footer>
      <button>
        <a href="https://www.youtube.com/@Dei_VerbumYT"> Nosso Youtube </a>
      </button>
      <button>
        <a href="mailto:kenyel@tutanota.com"> Fale Conosco</a>
      </button>
      <button>
        <a href="/">voltar</a>
      </button>
    </footer>
  </body>
</html>
